In [1]:
import pandas as pd
import numpy as np

# Accident
1. Combined the 3 files we got from API
2. Remove the extra columns and keep only required columns
3. Merge caseyear and st-case (becuase each year has the case number starting for 10001)

In [2]:
df_1 = pd.read_csv("./Accidents Data/Accidents_2010_2013.CSV")
df_2 = pd.read_csv("./Accidents Data/Accidents_2014_2017.CSV")
df_3 = pd.read_csv("./Accidents Data/Accidents_2018_2021.CSV")

C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\1239294947.py:2: DtypeWarning: Columns (28,30,32,40,42,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv("./Accidents Data/Accidents_2014_2017.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\1239294947.py:3: DtypeWarning: Columns (40,42,64,66,86,88,90) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3 = pd.read_csv("./Accidents Data/Accidents_2018_2021.CSV")

In [45]:
list(df_1)

['caseyear',
 'state',
 'st_case',
 'statename',
 've_total',
 've_forms',
 'pvh_invl',
 'peds',
 'pernotmvit',
 'permvit',
 'persons',
 'county',
 'countyname',
 'city',
 'cityname',
 'day',
 'month',
 'monthname',
 'year',
 'day_week',
 'day_weekname',
 'hour',
 'hourname',
 'minute',
 'minutename',
 'nhs',
 'nhsname',
 'rur_urb',
 'rur_urbname',
 'func_sys',
 'func_sysname',
 'rd_owner',
 'rd_ownername',
 'route',
 'routename',
 'tway_id',
 'tway_id2',
 'milept',
 'mileptname',
 'latitude',
 'latitudename',
 'longitud',
 'longitudname',
 'sp_jur',
 'sp_jurname',
 'harm_ev',
 'harm_evname',
 'man_coll',
 'man_collname',
 'reljct1',
 'reljct1name',
 'reljct2',
 'reljct2name',
 'typ_int',
 'typ_intname',
 'wrk_zone',
 'wrk_zonename',
 'road_fnc',
 'road_fncname',
 'rel_road',
 'rel_roadname',
 'lgt_cond',
 'lgt_condname',
 'weather1',
 'weather1name',
 'weather2',
 'weather2name',
 'weather',
 'weathername',
 'sch_bus',
 'sch_busname',
 'rail',
 'railname',
 'not_hour',
 'not_hourname',
 'not_min',
 'not_minname',
 'arr_hour',
 'arr_hourname',
 'arr_min',
 'arr_minname',
 'hosp_hr',
 'hosp_hrname',
 'hosp_mn',
 'hosp_mnname',
 'cf1',
 'cf1name',
 'cf2',
 'cf2name',
 'cf3',
 'cf3name',
 'fatals',
 'drunk_dr']

In [46]:
# List of columns you want to select
columns_to_select = [
    "statename",
    "st_case",
    "caseyear",
    "pernotmvit",
    "ve_total",
    "county",
    "permvit",
    "countyname",
    "city",
    "cityname",
    "month",
    "monthname",
    "day",
    "day_week",
    "day_weekname",
    "year",
    "hour",
    "hourname",
    "minute",
    "minutename",
    "tway_id",
    "routename",
    "func_sysname",
    "latitude",
    "longitud",
    "harm_evname",
    "typ_intname",
    "lgt_cond",
    "lgt_condname",
    "weather",
    "weathername",
    "arr_hour",
    "arr_min",
    "fatals"
]

# Selecting specific columns
selected_columns_df_1 = df_1[columns_to_select]
selected_columns_df_2 = df_2[columns_to_select]
selected_columns_df_3 = df_3[columns_to_select]

In [47]:
accidents_data_2010_2021 = pd.concat([selected_columns_df_1, selected_columns_df_2, selected_columns_df_3], ignore_index=True)

In [49]:
accidents_data_2010_2021['st_case_per_year'] = accidents_data_2010_2021['caseyear'].astype(str) + '-' + accidents_data_2010_2021['st_case'].astype(str)

In [50]:
accidents_data_2010_2021

,statename,st_case,caseyear,pernotmvit,ve_total,county,permvit,countyname,city,cityname,...,harm_evname,typ_intname,lgt_cond,lgt_condname,weather,weathername,arr_hour,arr_min,fatals,st_case_per_year
0,Alabama,10001,2010,NaN,1,81,NaN,LEE (81),2340,OPELIKA,...,Tree (Standing Only),Not an Intersection,3,Dark - Lighted,1,Clear,4,20,1,2010-10001
1,Alabama,10002,2010,NaN,1,35,NaN,CONECUH (35),1080,EVERGREEN,...,Utility Pole/Light Support,Not an Intersection,3,Dark - Lighted,1,Clear,6,9,1,2010-10002
2,Alabama,10003,2010,NaN,3,97,NaN,MOBILE (97),2100,MOBILE,...,Motor Vehicle In-Transport,T-Intersection,1,Daylight,1,Clear,15,16,1,2010-10003
3,Alabama,10004,2010,NaN,2,115,NaN,ST. CLAIR (115),160,ASHVILLE,...,Motor Vehicle In-Transport,Not an Intersection,3,Dark - Lighted,2,Rain,1,16,1,2010-10004
4,Alabama,10005,2010,NaN,2,117,NaN,SHELBY (117),0,NOT APPLICABLE,...,Motor Vehicle In-Transport,Not an Intersection,4,Dawn,1,Clear,6,49,1,2010-10005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399719,Wyoming,560100,2021,0.0,1,19,2.0,JOHNSON (19),0,NOT APPLICABLE,...,Rollover/Overturn,Not an Intersection,1,Daylight,1,Clear,9,16,1,2021-560100
399720,Wyoming,560101,2021,0.0,2,3,2.0,BIG HORN (3),0,NOT APPLICABLE,...,Motor Vehicle In-Transport,Not an Intersection,2,Dark - Not Lighted,1,Clear,19,3,1,2021-560101
399721,Wyoming,560102,2021,0.0,1,37,1.0,SWEETWATER (37),0,NOT APPLICABLE,...,Rollover/Overturn,Not an Intersection,1,Daylight,1,Clear,99,99,1,2021-560102
399722,Wyoming,560103,2021,1.0,1,21,1.0,LARAMIE (21),100,CHEYENNE,...,Pedestrian,Not an Intersection,2,Dark - Not Lighted,1,Clear,17,17,1,2021-560103
399723,Wyoming,560104,2021,0.0,2,23,2.0,LINCOLN (23),0,NOT APPLICABLE,...,Motor Vehicle In-Transport,Not an Intersection,2,Dark - Not Lighted,1,Clear,99,99,1,2021-560104

In [51]:
accidents_data_2010_2021.to_csv("AccidentsData_2010-2021.csv")

### AccidentsData_2010-2021 is the combination of original files cleaned and formatted
---------------------------------------------------------------------------------------------------------------------------

# Vehicles
1. Combined the 4 files we got from API
2. Remove the extra columns and keep only required columns
3. Merge caseyear and st-case (becuase each year has the case number starting for 10001)

In [5]:
df_A = pd.read_csv("./Vehicles Data/Vehicles_2010_2011.CSV")
df_B = pd.read_csv("./Vehicles Data/Vehicles_2012_2014.CSV")
df_C = pd.read_csv("./Vehicles Data/Vehicles_2015_2018.CSV")
df_D = pd.read_csv("./Vehicles Data/Vehicles_2019_2021.CSV")

C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\2757730022.py:1: DtypeWarning: Columns (7,14,44,69,71,114,214) have mixed types. Specify dtype option on import or set low_memory=False.
  df_A = pd.read_csv("./Vehicles Data/Vehicles_2010_2011.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\2757730022.py:2: DtypeWarning: Columns (7,69,71) have mixed types. Specify dtype option on import or set low_memory=False.
  df_B = pd.read_csv("./Vehicles Data/Vehicles_2012_2014.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\2757730022.py:3: DtypeWarning: Columns (7,14,57,58,59,60,61,62,69,71,114,141,202,204,206) have mixed types. Specify dtype option on import or set low_memory=False.
  df_C = pd.read_csv("./Vehicles Data/Vehicles_2015_2018.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\2757730022.py:4: DtypeWarning: Columns (14,45,47,50,51,53,56,59,61,69,71,74,98,112,114,159,161,163,165,200,216,218,220,222,224,226,228,230,232) have mixed types. Specify dtype option on import or set low_memory=False.
  df_D = pd.read_csv("./Vehicles Data/Vehicles_2019_2021.CSV")

In [6]:
df_A

,caseyear,state,statename,st_case,veh_no,ve_forms,numoccs,numoccsname,day,month,...,maneuvers,drimpairs,distractions,violations,vevents,vsoes,factors,visions,vehiclesfs,drierrfs
0,2010,1,Alabama,10001,1,1,2,02,15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,1,Alabama,10002,1,1,1,01,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,1,Alabama,10003,1,3,1,01,14,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,1,Alabama,10003,2,3,1,01,14,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,1,Alabama,10003,3,3,1,01,14,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89910,2011,56,Wyoming,560119,1,1,4,4,11,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89911,2011,56,Wyoming,560120,1,2,2,2,29,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89912,2011,56,Wyoming,560120,2,2,1,1,29,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89913,2011,56,Wyoming,560121,1,2,2,2,31,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89914,2011,56,Wyoming,560121,2,2,1,1,31,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
import pandas as pd

# Assuming you already have a DataFrame named df

# List of columns you want to extract
columns_to_extract = [
    "ST_CASE",
    "CASEYEAR",
    "VEH_NO",
    "NUMOCCS",
    "BODY_TYP",
    "BODY_TYPNAME",
    "TRAV_SPNAME",
    "DEFORMED",
    "DEFORMEDNAME",
    "VPICMAKE",
    "VPICMAKENAME"
]

# Convert column names to lowercase
columns_to_extract_lower = [col.lower() for col in columns_to_extract]

# Creating a new DataFrame with only the specified columns
vehicle_df_1 = df_A[columns_to_extract_lower]
vehicle_df_2 = df_B[columns_to_extract_lower]
vehicle_df_3 = df_C[columns_to_extract_lower]
vehicle_df_4 = df_D[columns_to_extract_lower]

In [40]:
vehicles_data_2010_2021 = pd.concat([vehicle_df_1, vehicle_df_2, vehicle_df_3, vehicle_df_4], ignore_index=True)

In [42]:
vehicles_data_2010_2021['st_case_per_year'] = vehicles_data_2010_2021['caseyear'].astype(str) + '-' + vehicles_data_2010_2021['st_case'].astype(str)

In [43]:
vehicles_data_2010_2021

,st_case,caseyear,veh_no,numoccs,body_typ,body_typname,trav_spname,deformed,deformedname,vpicmake,vpicmakename,st_case_per_year
0,10001,2010,1,2,15,Large utility (includes Jeep Cherokee [83 and ...,Unknown,6,Disabling Damage,NaN,NaN,2010-10001
1,10002,2010,1,1,4,"4-door sedan, hardtop",Unknown,6,Disabling Damage,NaN,NaN,2010-10002
2,10003,2010,1,1,80,Motorcycle,Unknown,6,Disabling Damage,NaN,NaN,2010-10003
3,10003,2010,2,1,4,"4-door sedan, hardtop",010 MPH,4,Functional Damage,NaN,NaN,2010-10003
4,10003,2010,3,1,4,"4-door sedan, hardtop",Stopped Motor Vehicle In- Transport,2,Minor Damage,NaN,NaN,2010-10003
...,...,...,...,...,...,...,...,...,...,...,...,...
605019,560101,2021,2,1,93,Construction equipment other than trucks (incl...,025 MPH,4,Functional Damage,5431.0,John Deere,2021-560101
605020,560102,2021,1,1,66,"Truck-tractor (Cab only, or with any number of...",035 MPH,6,Disabling Damage,450.0,Freightliner,2021-560102
605021,560103,2021,1,1,14,"Compact Utility (Utility Vehicle Categories ""S...",040 MPH,4,Functional Damage,452.0,BMW,2021-560103
605022,560104,2021,1,1,4,"4-door sedan, hardtop",065 MPH,6,Disabling Damage,523.0,Subaru,2021-560104
605023,560104,2021,2,1,20,"Minivan (Chrysler Town and Country, Caravan, G...",060 MPH,6,Disabling Damage,448.0,Toyota,2021-560104

In [52]:
vehicles_data_2010_2021.to_csv("VehiclesData_2010-2021.csv")

### VehiclesData_2010-2021 is the combination of original files cleaned and formatted
---------------------------------------------------------------------------------------------------------------------------

# Persons
1. Combined the 3 files we got from API
2. Remove the extra columns and keep only required columns
3. Merge caseyear and st-case (becuase each year has the case number starting for 10001)

In [9]:
df_PerA = pd.read_csv("./Persons Data/Persons_2010_2013.CSV")
df_PerB = pd.read_csv("./Persons Data/Persons_2014_2017.CSV")
df_PerC = pd.read_csv("./Persons Data/Persons_2018_2021.CSV")

C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\1255216158.py:1: DtypeWarning: Columns (8,17,115,117) have mixed types. Specify dtype option on import or set low_memory=False.
  df_PerA = pd.read_csv("./Persons Data/Persons_2010_2013.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\1255216158.py:2: DtypeWarning: Columns (8,17,19,113,115,117,118,128,130) have mixed types. Specify dtype option on import or set low_memory=False.
  df_PerB = pd.read_csv("./Persons Data/Persons_2014_2017.CSV")
C:\Users\mihir\AppData\Local\Temp\ipykernel_4620\1255216158.py:3: DtypeWarning: Columns (8,17,113,115,117,124) have mixed types. Specify dtype option on import or set low_memory=False.
  df_PerC = pd.read_csv("./Persons Data/Persons_2018_2021.CSV")

In [10]:
df_PerA

,caseyear,state,statename,st_case,ve_forms,veh_no,per_no,str_veh,str_vehname,county,...,hispanic,hispanicname,race,racename,location,locationname,func_sys,func_sysname,rur_urb,rur_urbname
0,2010,1,Alabama,10001,1,1,1,NaN,NaN,81,...,7,Non-Hispanic,2,Black,0,0,NaN,NaN,NaN,NaN
1,2010,1,Alabama,10001,1,1,2,NaN,NaN,81,...,0,Not A Fatality (not Applicable),0,Not a Fatality (not Applicable),0,0,NaN,NaN,NaN,NaN
2,2010,1,Alabama,10002,1,1,1,NaN,NaN,35,...,7,Non-Hispanic,2,Black,0,0,NaN,NaN,NaN,NaN
3,2010,1,Alabama,10003,3,1,1,NaN,NaN,97,...,7,Non-Hispanic,1,White,0,0,NaN,NaN,NaN,NaN
4,2010,1,Alabama,10003,3,2,1,NaN,NaN,97,...,0,Not A Fatality (not Applicable),0,Not a Fatality (not Applicable),0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301993,2013,56,Wyoming,560073,2,2,2,0.0,Occupant of a Motor Vehicle,25,...,0,Not A Fatality (not Applicable),0,Not a Fatality (not Applicable),0,0,NaN,NaN,NaN,NaN
301994,2013,56,Wyoming,560073,2,2,3,0.0,Occupant of a Motor Vehicle,25,...,0,Not A Fatality (not Applicable),0,Not a Fatality (not Applicable),0,0,NaN,NaN,NaN,NaN
301995,2013,56,Wyoming,560074,1,0,1,1.0,01,25,...,7,Non-Hispanic,1,White,1,Intersection - In Marked Crosswalk,NaN,NaN,NaN,NaN
301996,2013,56,Wyoming,560074,1,1,1,0.0,Occupant of a Motor Vehicle,25,...,0,Not A Fatality (not Applicable),0,Not a Fatality (not Applicable),0,0,NaN,NaN,NaN,NaN
301997,2013,56,Wyoming,560075,1,1,1,0.0,Occupant of a Motor Vehicle,21,...,7,Non-Hispanic,1,White,0,0,NaN,NaN,NaN,NaN

In [3]:
# List of specific columns you want to extract
columns_to_extract = ["st_case", "caseyear", "veh_no", "per_no", "age", "sex", "per_typ", "per_typname", 
                      "inj_sev", "inj_sevname", "rest_use", "rest_usename", "drinking", 
                      "drinkingname", "drugs", "drugsname", "doa", "doaname"]

# Creating a new DataFrame with only the specified columns
person_df_1 = df_PerA[columns_to_extract]
person_df_2 = df_PerB[columns_to_extract]
person_df_3 = df_PerC[columns_to_extract]

In [4]:
person_data_2010_2021 = pd.concat([person_df_1, person_df_2, person_df_3], ignore_index=True)

In [7]:
person_data_2010_2021['st_case_per_year'] = person_data_2010_2021['caseyear'].astype(str) + '-' + person_data_2010_2021['st_case'].astype(str)

In [8]:
person_data_2010_2021

,st_case,caseyear,veh_no,per_no,age,sex,per_typ,per_typname,inj_sev,inj_sevname,rest_use,rest_usename,drinking,drinkingname,drugs,drugsname,doa,doaname,st_case_per_year
0,10001,2010,1,1,51,2,1,Driver of a Motor Vehicle In-Transport,4,Fatal Injury (K),7,None Used-Motor Vehicle Occupant,9,Unknown (Police Reported),9,Unknown,7,Died at Scene,2010-10001
1,10001,2010,1,2,999,1,2,Passenger of a Motor Vehicle In-Transport,3,Incapacitating Injury (A),7,None Used-Motor Vehicle Occupant,8,Not Reported,8,Not Reported,0,Not Applicable,2010-10001
2,10002,2010,1,1,44,2,1,Driver of a Motor Vehicle In-Transport,4,Fatal Injury (K),7,None Used-Motor Vehicle Occupant,0,No (Alcohol Not Involved),0,No (drugs not involved),0,Not Applicable,2010-10002
3,10003,2010,1,1,27,1,1,Driver of a Motor Vehicle In-Transport,4,Fatal Injury (K),5,DOT-Compliant Motorcycle Helmet,9,Unknown (Police Reported),9,Unknown,0,Not Applicable,2010-10003
4,10003,2010,2,1,45,2,1,Driver of a Motor Vehicle In-Transport,0,No Injury (O),3,Shoulder and Lap Belt Used,0,No (Alcohol Not Involved),0,No (drugs not involved),0,Not Applicable,2010-10003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984980,560102,2021,1,1,61,1,1,Driver of a Motor Vehicle In-Transport,4,Fatal Injury (K),20,None Used/Not Applicable,0,No (Alcohol Not Involved),0,No (drugs not involved),7,Died at Scene,2021-560102
984981,560103,2021,0,1,62,1,5,Pedestrian,4,Fatal Injury (K),96,Not a Motor Vehicle Occupant,1,Yes (Alcohol Involved),9,Reported as Unknown,7,Died at Scene,2021-560103
984982,560103,2021,1,1,32,1,1,Driver of a Motor Vehicle In-Transport,0,No Apparent Injury (O),3,Shoulder and Lap Belt Used,0,No (Alcohol Not Involved),0,No (drugs not involved),0,Not Applicable,2021-560103
984983,560104,2021,1,1,58,1,1,Driver of a Motor Vehicle In-Transport,4,Fatal Injury (K),20,None Used/Not Applicable,0,No (Alcohol Not Involved),1,Yes (drugs involved),7,Died at Scene,2021-560104
984984,560104,2021,2,1,49,2,1,Driver of a Motor Vehicle In-Transport,2,Suspected Minor Injury (B),3,Shoulder and Lap Belt Used,0,No (Alcohol Not Involved),0,No (drugs not involved),0,Not Applicable,2021-560104

In [9]:
person_data_2010_2021.to_csv("PersonsData_2010-2021.csv")

### PersonsData_2010-2021 is the combination of original files cleaned and formatted
---------------------------------------------------------------------------------------------------------------------------